
books/《统计学习方法》第2版课件/第10章 隐马尔科夫模型.pptx
books/《统计学习方法》第2版课件/第11章 条件随机场.pptx
books/《统计学习方法》第2版课件/第13章 无监督学习概论.pptx
books/《统计学习方法》第2版课件/第14章 聚类方法.pptx
books/《统计学习方法》第2版课件/第15章 奇异值分解.pptx
books/《统计学习方法》第2版课件/第16章 主成分分析.pptx
books/《统计学习方法》第2版课件/第17章 潜在语义分析.pptx
books/《统计学习方法》第2版课件/第18章  概率潜在语义分析.pptx
books/《统计学习方法》第2版课件/第19章  马尔科夫链蒙特卡洛法.pptx
books/《统计学习方法》第2版课件/第1章 机器学习和统计学习.pptx
books/《统计学习方法》第2版课件/第20章  潜在狄利克雷分布.pptx
books/《统计学习方法》第2版课件/第21章 PageRank算法.pptx
books/《统计学习方法》第2版课件/第22章 无监督学习方法总结.pptx
books/《统计学习方法》第2版课件/第2和12章 感知机和统计学习方法总结.pptx
books/《统计学习方法》第2版课件/第3章 k-近邻算法.pptx
books/《统计学习方法》第2版课件/第4章 贝叶斯分类器.pptx
books/《统计学习方法》第2版课件/第5章 决策树.pptx
books/《统计学习方法》第2版课件/第6章 Logistic回归.pptx
books/《统计学习方法》第2版课件/第7章 SVM及核函数.pptx
books/《统计学习方法》第2版课件/第8章 adaboost.pptx
books/《统计学习方法》第2版课件/第9章 EM算法.pptx
